body {
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
}
#today { 
	width: 400px;
	background: #fff;
	margin: 0 auto;
	padding: 10px;
}
#today span{
	font-size:14px;
	color:#000;
	line-height: 30px;
	vertical-align: middle;
}
#today span.today_date{
	font-size: 20px;
	color:#F30F13;
	margin-left: 25px;
}
#today span.yester_date{
	font-size: 30px;
	color:#F30F13;
	margin-left: 25px;
}
#today p{
	width: 275px;
	margin: 0 auto;
}
#today a.xml_link{
	text-decoration:none;
	font-size: 12px;
	color:red;
}
#today a:hover.xml_link{
	color:blue;
}

#today p.gd_link{
	margin-top: 25px;
}
#today p.gd_link a{
	text-decoration:none;
	font-size: 14px;
	color:blue;
}
#today p.gd_link a:hover{
	color:red;
}
table {
	margin: 50px auto;
	width: 975px;
}
th{
	background-color: #999;
	height: 18px;
	font-size: 14;
}
td {	
	background-color: #F8F8F8;
	padding: 5px;
	vertical-align: middle;
	font-size:12px;
}
td a{
	text-decoration:none;
	color:#0000CD;
}
td a:hover{
	color:#999;
}