table {
	border-spacing: 7px 0px;
	padding-bottom: 5px;
}
td {	
	border: 1px solid #cccccc;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
}

p.suplier{
	color: #990000;
	text-decoration: underline;
	font-weight: bold;
	font-size: 12px;
}
p.weare{
	color: #000;
	font-size: 14px;
}
p.error{
	color: red;
	font-size: 20px;
	text-align: center;
}
p span {
	color: #990000;
	text-decoration: underline;
	font-weight: bold;
	font-size: 12px;
}
p span2 {
	color: #363636;
	font-size: 14px;
}
.text-field-title{
	border : 1px solid #b6b6b6; 
	color : #777; 
	padding : 2px 2px 2px 4px; 
	font : 12px bold; 
	width: 700px;
	padding : 4px; 
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
} 
.new-description{
	border : 1px solid #b6b6b6; 
	color : #777; 
	padding : 2px 2px 2px 4px; 
	font : 10px; 
	width: 950px;
	padding : 4px; 
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
} 


hr {color: #ccc; border: 1px dotted;}

form  { 
	width: 1000px;
	border : 1px solid #b6b6b6; 
	background : #f2f2f2; 
	margin : 0 auto; 
	padding : 10px; 
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
}

.text-field-title{
	border : 1px solid #b6b6b6; 
	color : #777; 
	padding : 2px 2px 2px 4px; 
	font : 12px bold; 
	width: 700px;
	padding : 4px; 
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
} 
.text-field-price { 
	border : 1px solid #b6b6b6; 
	color : #777; 
	padding : 2px 2px 2px 4px; 
	font : 12px bold; 
	width: 100px;
	padding : 4px;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
}

fieldset{
	border : 1px solid #b6b6b6; 
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
}
legend{
	border : 1px solid #b6b6b6; 
	color:#000;
	background-color:#ddd;
	font-size: 12px;
}
	

textarea  { 
	width : 950px; 
	height: 500px;
	padding : 5px; 
	font : normal 12px Arial, Sans-serif; 
	border : 1px solid #b6b6b6; 
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	color: #000000;
 } 
 
 
 input.button  { 
	margin-top : 10px; 
	font-size: 11px; 
	font-weight: bold;
	padding : 4px; 
	background : #fff;
	border : 1px solid #b6b6b6; 
	color : #cc0000; 
	cursor :  pointer; 
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
 } 
input.button:hover { 
  color:#990000;
  border : 1px solid #000; 
}


.htmlButtonOuter, .htmlButtonOuterL  { 
	background : #f6f6f6; 
	padding : 0px; 
	margin-left: 5px;
 } 

 .htmlButtonInner  { 
background-color : transparent; 
text-align : center; 
padding : 0 3px 0 3px; 
 } 
 .htmlButtonOff  { 
font : normal 11px "Courier New", Courier, monospace; 
padding : 1px 2px 2px 2px; 
white-space : nowrap; 
 } 
 .htmlButtonOff a:link  { 
color : #000; 
text-decoration : none; 
white-space : nowrap; 
 } 
 .htmlButtonOff a:active  { 
text-decoration : none; 
color : #999; 
 } 
 .htmlButtonOff a:hover  { 
text-decoration : none; 
color : #990000; 
 } 
 .htmlButtonOn  { 
font : bold 11px Verdana, Arial, Trebuchet MS, Tahoma, Verdana, Sans-serif; 
background : #f6f6f6; 
padding : 1px 2px 2px 2px; 
white-space : nowrap; 
 } 
 .htmlButtonOn a:link  { 
color : #990000; 
text-decoration : none; 
white-space : nowrap; 
 } 
 .htmlButtonOn a:visited  { 
text-decoration : none; 
 } 
 .htmlButtonOn a:active  { 
text-decoration : none; 
color : #999; 
 } 
 .htmlButtonOn a:hover  { 
background : #fff; 
color : #999; 
text-decoration : none; 
 }
 
 /**/
.today-date {
	font-size: 30px;
	color:red;
}
.update-link{
	color: blue;
	text-decoration: none;
	margin-left: 25px;
}
.update-link:hover{
	text-decoration: underline;
}

 #start { 
	width: 1024px;
	border : 1px solid #b6b6b6; 
	background : #f2f2f2; 
	margin : 0 auto; 
	padding : 10px; 
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
}
 